* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

ul,
ol {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

header {
    font-family: verdana, sans-serif;
    background-color: #ede3fa;

}

header nav {
    background-color: rgb(53, 14, 226);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
    flex-wrap: wrap; /*para que el contenido se adapte a la pantalla*/
}

#logo img {
    width: 20%;
    object-fit: cover;
    margin-left: 50px;
    box-shadow: 5px 5px #333;
}

main {
    font-family: verdana, sans-serif;
}

#navegacion {
    display:flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px;
    gap: 20px;
    
}

#navegacion li{
    background-color: #a7a1a1;
    border-radius: 15px;
    padding: 10px;
    box-shadow: 5px 5px;
}

#label-toggle img {
    width: 20px;
    border-radius: 50%;
}

#toggle {
    display: none;
}

#label-toggle {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
}

#hero-image, #features div img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    box-shadow: 10px 10px black;
}

#hero h1 {
    font-size: 32px;
}

#hero div {
    text-align: center;
    max-width: 75ch;
    margin: auto;
}

#features {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
    gap: 20px;
}

#features article {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 30px;
}

#features article h3 {
    background-color: #797979;
    border-radius: 15px;
    padding: 20px;
}

#features article p {
    text-align: center;
    max-width: 30ch;
    margin: auto;
}
    
#features article img {
    width: 250px;
    height: 250px;
    object-fit: cover;
}

#galeria {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    text-align: center;
}

#galeria h2 {
    margin: 0;
    background-color: #797979;
    padding: 20px;
}

#galeria ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

#galeria li {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 30%;
    height: 50%;
    margin-top: 20px;
}

#listaGaleria img {
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 16px;
}

#delivery {
    text-align: center;
    margin-top: 20px;
}

#delivery h2 {
    margin: 0;
    background-color: #797979;
    padding: 20px;
}

#delivery li {
    margin: 7px;
}

#pagos {
    border: 1px solid yellow;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#pagos h2 {
    border: 1px solid blue;
    margin: 0;
    background-color: #797979;
    padding: 20px;
}

#pagos li {
    border: 1px solid red;
    margin: 7px;
}

/* Para quitar los espacios entre el header fijo y lo que mostraba los botones del menu*/
.item {
    scroll-margin-top: 10ex;
}

#footer {
    background-color: rgb(53, 14, 226);
    text-align: center;
    font-family: Impact;
    padding: 10px;
}

#footer nav {
    margin: 10px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#footer nav img {
    border-radius: 50%;
    width: 20px;
}

/* Codigo para modo oscuro*/

.dark {
    background-color: #333;
    color: white;
    transition: all 1.5s ease;
}
