* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* Remover estilos de lista */
ul,
ol {
  list-style: none;
}
/* Resetear enlaces */
a {
  text-decoration: none;
  color: inherit;
}

#hero-image, #features div img {
    max-width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
    box-shadow: 10px 10px black;
}

body {
    font-family: verdana, sans-serif;
    background-color: #ede3fa;
}

header {
    position: fixed;
    width: 100%;
    height: 15%;
    top: 0;
}

header nav {
    background-color: rgb(109, 138, 201);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    font-size: 20px;
}

.item {
    scroll-margin-top: 9ex;
}

header nav div a p {
    font-weight: bold;
}

header nav ul {
    display: flex;
    padding: 20px;
    gap: 20px;
    background-color: aqua;
}

#hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 150px;
}

#hero h1 {
    font-size: 32px;
}

#hero div {
    text-align: center;
}

#features {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 40px;
    padding: 20px;
    gap: 20px;
}

#features div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 30px;
}

#features div h3 {
    background-color: #797979;
    border-radius: 15px;
    padding: 20px;
}

#features div p {
    text-align: center;
}
    
#features div img {
    width: 300px;
    height: 300px;
}

#delivery {
    text-align: center;
    margin-top: 50px;
}

#delivery h2 {
    margin: 0;
    background-color: #797979;
    padding: 20px;
}

#delivery li {
    margin: 7px;
}

#pagos {
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

#pagos h2 {
    margin: 0;
    background-color: #797979;
    padding: 20px;
}

#pagos li {
    margin: 7px;
}

#informacion {
    background-color: rgb(109, 138, 201);
    text-align: center;
    font-family: Impact;
    padding: 20px;
}

#informacion nav {
    margin: 15px;
    display: flex;
    justify-content: center;
    gap: 20px;
}

#informacion nav a {
    display: flex;
}

#informacion nav img {
    border-radius: 50%;
    width: 20px;
}